.pdf-viewer-container {
  position: relative;
  background: #f2f2f2;
  overflow: none;
  width: 100%;
  height: fit-content;
}

.pdfViewer {
  position: absolute;
  width: 100%;
  top: 57px;
  height: calc(var(--copilot-chat-pane-full-height, 100vh) - 57px);
  overflow: auto;
  background: #f1f5f9;
}

.hide-div {
  display: none;
}
