.pdf-viewer-container {
  position: relative;
  background: #f2f2f2;
  overflow: none;
  width: 100%;
  height: fit-content;
}

.pdfViewer {
  position: absolute;
  width: 100%;
  top: 55px;
  height: calc(var(--copilot-chat-pane-full-height, 100vh) - 55px);
  overflow: auto;
  background: #f1f5f9;
}

.hide-div {
  display: none;
}

.pdf-viewer-loader {
  width: 100%;
  height: 4px;
  background-color: #f0f0f0;
  overflow: hidden;
  position: relative;
}

.pdf-viewer-loader-bar {
  width: 100%;
  height: 100%;
  background-color: orange;
  position: absolute;
  left: 0;
  top: 0;
  animation: pdf-viewer-indeterminate-progress 2s infinite ease-out;
  transform-origin: 0% 50%;
}

@keyframes pdf-viewer-indeterminate-progress {
  0% { transform: translateX(-100%) scaleX(0.5); }
  50% { transform: translateX(0) scaleX(0.8); }
  100% { transform: translateX(100%) scaleX(0.5); }
}