/* packages/custom-react-pdf-viewer/src/css/CustomPdfViewer.module.css */
.container {
  position: relative;
  background: var(--custom-pdf-container-bg, #f2f2f2);
  overflow: none;
  width: 100%;
  height: fit-content;
}

.viewer {
  position: absolute;
  width: 100%;
  top: 55px; /* This must match toolbar height */
  height: calc(var(--copilot-chat-pane-full-height, 100vh) - 55px);
  overflow: auto;
  background: var(--custom-pdf-viewer-bg, #f1f5f9);
}

.loader {
  width: 100%;
  height: 4px;
  background-color: #f0f0f0;
  overflow: hidden;
  position: relative;
}

.loaderBar {
  width: 100%;
  height: 100%;
  background-color: orange;
  position: absolute;
  left: 0;
  top: 0;
  animation: custom-react-pdf-viewer-indeterminate-progress 2s infinite ease-out;
  transform-origin: 0% 50%;
}

@keyframes custom-react-pdf-viewer-indeterminate-progress {
  0% { transform: translateX(-100%) scaleX(0.5); }
  50% { transform: translateX(0) scaleX(0.8); }
  100% { transform: translateX(100%) scaleX(0.5); }
}